.row {
    display: flex;
}

d-grid {
    display: grid;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around ;
}
.align-center {
    align-items: center;
}

.direction-colum {
    flex-direction: column;
}


/* GRID */

.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.666%;
}

.col-10 {
    width: 83.333%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.666%;
}

.col-7 {
    width: 58.3%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.666%;
}

.col-4 {
    width:  33.333%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.666%;
}

.col-1 {
    width: 8.333%;
}
